<nav class="navbar">
    <div class="navbar-brand">
      <a href="/" class="navbar-item">Joke App</a>
    </div>
    <div class="navbar-menu">
      <a href="/" class="navbar-item">Home</a>
      <a href="/history" class="navbar-item">History</a>
    </div>
  </nav>