<div class="joke-card">
    <h2>Get a Random Joke</h2>
    <div class="categories">
        <button onclick="getJoke('Programming')">Programming</button>
        <button onclick="getJoke('Misc')">Misc</button>
        <button onclick="getJoke('Dark')">Dark</button>
        <button onclick="getJoke('Pun')">Pun</button>
        <button onclick="getJoke('Spooky')">Spooky</button>
        <button onclick="getJoke('Christmas')">Christmas</button>
    </div>
    <div id="jokeContainer"></div>
</div>